.container {

  display: flex;
  flex-direction: column;
  margin: auto;
max-width: 90vw;


  .main {

width: 100%;
display: flex;
    flex-direction: row;


    .mid {
      width: 80%;
      max-width: 100rem;
      margin: 5rem auto;
    }

  }
    .side {
      width: 20%;

    }


  }




