<!--<div class="board-head">-->

<!--<h1>{{board.name}}</h1>-->
<!--  <h3>{{board.description}}</h3>-->

<!--</div>-->
<!--<div class="dashboard">-->

<!--  <div class="column"-->
<!--       cdkDropList-->
<!--       *ngFor="let column of board.columns"-->
<!--       [cdkDropListData]="tasks[column.id] || []"-->
<!--       (cdkDropListDropped)="drop($event,column)"-->
<!--  >-->
<!--<div class="column-header">-->
<!--    <div class="">{{ column.name }}</div>-->
<!--    <div ><button class="task-button" (click)="addTask()">Add Task</button></div>-->
<!--</div>-->
<!--    <div class="column-body">-->

<!--      <div class="task" *ngFor="let task of column.tasks">dfdf</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
