<div class="board-head">


  <div class="user-list">
    <h3>Users:</h3>
    <div *ngFor="let user of users$ | async" class="user-item">
      {{user.email}}
    </div>
  </div>

  <h1 class="board-name" >Board: {{board.name}}</h1>

</div>
<div class="dashboard" cdkDropListGroup>

  <div class="column"
       cdkDropList
       *ngFor="let column of board.columns"
       [cdkDropListData]="tasks[column.id] || []"
       (cdkDropListDropped)="drop($event,column)">
<div class="column-header">
    <div class="">{{ column.name }}</div>
    <div ><button class="task-button" (click)="addTask(column)">Add Task</button></div>
</div>
    <div class="column-body">

      <div class="task" *ngFor="let task of tasks[column.id] || []" cdkDrag (dblclick)="viewTask(task, column)">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div class="task-header">
        <h4>{{task.id}}</h4>
          <h4>{{task.createdBy.email}}</h4>
        </div>
        <p>{{task.description}}</p>
<div class="createdBy">{{task.createdAt | date:'yyyy-MM-dd HH:mm'}}</div>
      </div>
    </div>
  </div>
</div>
