<mat-toolbar class="main-nav">
  <a><img src="../../../assets/logo.png" class="nav-item logo" alt="Task Manager" routerLink="/" style="cursor: pointer"></a>
  <div >

    <ng-container *ngIf="userIsAuthenticated; else notAuthenticated">

      <a routerLink="/" class="nav-item" mat-raised-button>Home</a>

      <a routerLink="/users" class="nav-item" mat-raised-button>All users</a>

      <a routerLink="/dashboard" class="newProject">Dashboard</a>
      <select [ngModel]="currentProject?.id" (ngModelChange)="selectProject($event)">
      <option *ngFor="let project of projects$ | async" [value]="project.id">
        {{project.name}}
      </option>
      </select>
      <ng-container *ngIf="currentProject">
        <a class="newProject" routerLink="/projects/setting">Settings</a>
      </ng-container>

      <a routerLink="/" class="nav-item" mat-raised-button (click)="signOut()">Sign Out</a>

    </ng-container>


    <ng-template #notAuthenticated>
    <button routerLink="/auth/login" class="nav-item" mat-raised-button>Sign In</button>
    <button routerLink="/auth/signup" class="nav-item" mat-raised-button>Sign Up</button>

    </ng-template>


  </div>
</mat-toolbar>
