<mat-toolbar class="main-nav">
  <a><img src="../../../assets/logo.png" class="nav-item logo" alt="Task Manager" routerLink="/" style="cursor: pointer"></a>
  <div >

    <ng-container *ngIf="userIsAuthenticated; else notAuthenticated">

      <a routerLink="/" class="nav-item" mat-raised-button>Home</a>
      <a routerLink="/" class="nav-item" mat-raised-button (click)="signOut()">Sign Out</a>

    </ng-container>


    <ng-template #notAuthenticated>
    <button routerLink="/auth/login" class="nav-item" mat-raised-button>Sign In</button>
    <button routerLink="/auth/signup" class="nav-item" mat-raised-button>Sign Up</button>

    </ng-template>


  </div>
</mat-toolbar>
