


.content {
  font-size: 16px;
  color: #cccccc;
  display: flex;
  align-items: center;
  flex-direction: column;
}


//button {
//  display: flex;
//  justify-content: flex-end;
//  margin-top: 24px;
//}

button {
  padding: 8px 16px;
  margin-left: 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}


button:hover:first-child {
  background-color: #0062cc;
}
button:hover:last-child {
  background-color: #c82333;
}
